<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title translate>Tab One</ion-title>
    <ion-buttons slot="end">
      <span (click)="changeLanguage()">
        <ion-icon *ngIf="currentLang === 'zh'" src="assets/img/zhongyingwenqiehuan-zh.svg"></ion-icon>
        <ion-icon *ngIf="currentLang === 'en'" src="assets/img/zhongyingwenqiehuan-en.svg"></ion-icon>
      </span>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle translate="">Get Started</ion-card-subtitle>
        <ion-card-title translate>Welcome to Ionic</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p translate>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
      </ion-card-content>
    </ion-card>
    <ion-list>
      <ion-list-header>
        <ion-label translate>Resources</ion-label>
      </ion-list-header>
      <ion-item href="https://ionicframework.com/docs/" detail="true">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label translate>Ionic Documentation</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/layout/structure" detail="true">
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label translate>Change Your App Layout</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/theming/basics" detail="true">
        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
        <ion-label translate>Theme Your App</ion-label>
      </ion-item>
      <ion-item href="https://code.yidianchaxun.com" detail="true">
        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
        <ion-label translate>Open My Website</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
