<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title translate>Tab Three</ion-title>
    <ion-buttons slot="end">
      <span (click)="changeLanguage()">
        <ion-icon *ngIf="currentLang === 'zh'" src="assets/img/zhongyingwenqiehuan-zh.svg"></ion-icon>
        <ion-icon *ngIf="currentLang === 'en'" src="assets/img/zhongyingwenqiehuan-en.svg"></ion-icon>
      </span>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content></ion-content>
