<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab2" text="{{ 'Back' | translate }}"></ion-back-button>
    </ion-buttons>
    <ion-title translate>Test</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button shape="round" file="outline" (click)="testAlert()">alert</ion-button>
  <ion-button shape="round" file="outline" (click)="testConfirm()">confirm</ion-button>
  <ion-item lines="inset">
    <ion-label translate>Select Font</ion-label>
    <ion-select [value]="currentFont" okText="{{ 'Okay' | translate }}" cancelText="{{ 'Dismiss' | translate }}" interface="alert" mode="ios" (ionChange)="selectFont($event)">
      <ion-select-option value="zhankugaoduanheiti">高端黑体</ion-select-option>
      <ion-select-option value="zhankukuaileti">快乐体</ion-select-option>
      <ion-select-option value="zhankuwenyiti">文艺体</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-card>
    <div><ion-img src="/assets/shapes.svg"></ion-img></div>
    <ion-card-header>
      <ion-card-title>title</ion-card-title>
      <ion-card-subtitle>subtitle</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>this is content.</p>
    </ion-card-content>
  </ion-card>

  <ion-button shape="round" file="outline" (click)="getAppInfo()">app info</ion-button>
  <ion-button shape="round" file="outline" (click)="updateApp()">update app</ion-button>

  <app-spinner spinnerType="folding-cube"></app-spinner>
  <app-spinner spinnerType="spinner-1"></app-spinner>
  <app-spinner spinnerType="cube-grid"></app-spinner>
  <app-spinner spinnerType="double-bounce"></app-spinner>
  <app-spinner></app-spinner>

</ion-content>
